@charset "UTF-8";

.easyui-linkbutton {
	float: left;
}

div.toolbar-item-separator {
	float:left;
	height:18px;
	border-left:1px solid #ccc;
	border-right:1px solid #fff;
	margin:6px 2px;
}

.datagrid-toolbar {
	height: 28px; 
	line-height: 28px; 
	padding-top: 0px; 
	padding-bottom: 2px;
}

div.search-bar-container {
	overflow: hidden;
	width: 876px;
}

table.search-bar {
	
}

table.search-bar tr {
	height: 30px;
	line-height: 30px;
	background-color: #F2F7FE;
}

table.search-bar td.search-title {
	width: 80px;
	text-align: right;
	border-right: solid 1px #B8CCE2;
	border-bottom: solid 1px #B8CCE2;
}

table.search-bar td.search-value {
	width: 205px;
	font-size: 12px;
	padding-left: 5px;
	background-color: #FFFFFF;
	border-right: solid 1px #B8CCE2;
	border-bottom: solid 1px #B8CCE2;
}

table.search-bar td.search-title label {
	width: 80px;
	font-size: 12px;
	font-weight: bold;
	color: #5E7595;
	white-space: nowrap;
}

div.layer-mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(220, 226, 241);
	opacity: 0.7;
	filter:alpha(opacity=70);
	z-index: 999;
	display: none;
}

.toolbar-button {
	height: 24px;
	line-height: 24px;
	float: left;
	margin: 2px 0px;
	padding: 0px 5px 0px 5px;
	font-family: Tahoma, Verdana, 微软雅黑, 新宋体;
	color: rgb(68, 68, 68);
	font-size: 12px;
	border: 1px solid #F4F4F4;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}

.toolbar-button object {
	position: absolute;
	left: 0px;
}

.toolbar-button:hover {
	color: black;
	border-color: #B7D2FF;
	background: #EAF2FF;
}

a.ab_close {
	top: 1px;
	width: 36px;
	height: 20px;
	background-image: url(images/dialog-ctrl-button.png);
	background-position: center 0px;
}

a.ab_close:hover {
	background-position: center -25px;
}

/*-------------------------------------------------------*/
div.detail-view-container {
	overflow: hidden;
}

table.detail-view {
	width: 100%;
}

table.detail-view tr {
	height: 30px;
	line-height: 30px;
	background-color: #F2F7FE;
}

table.detail-view td.item-title {
	width: 100px;
	text-align: right;
	border-right: solid 1px #B8CCE2;
	border-bottom: solid 1px #B8CCE2;
}

table.detail-view td.item-value {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFFF;
	border-right: solid 1px #B8CCE2;
	border-bottom: solid 1px #B8CCE2;
}

table.detail-view td.item-title label {
	font-size: 12px;
	font-weight: bold;
	color: #5E7595;
	white-space: nowrap;
}

/* 工具栏右侧通用搜索框的样式定义*/
div.search {
	position: absolute;
	top: 1px;
	right: 5px;
	height: 24px;
	line-height: 24px;
	width: 300px;
}

div.search div.input-mark {
	height: 24px;
	line-height: 24px;
	width: 293px;
	position: absolute;
	left: 1px;
	top: 1px;
	padding-left: 5px;
	border: none;
	border: solid 1px #D4E4E4;
	background-color: white;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color: gray;
}

div.search input {
	height: 20px;
	line-height: 20px;
	width: 268px;
	position: absolute;
	left: 5px;
	top: 3px;
	font-size: 14px;
	border: none;
	outline: none;
}

div.search input.empty {
	background-color: transparent;
}

div.datagrid-toolbar a.easyui-linkbutton {
	margin-top: 2px;
}

div.search  a.easyui-linkbutton {
	height: 22px;
	line-height: 22px;
	position: absolute;
	left: 272px;
	top: 0px;
	font-size: 14px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}